<div class="login-centent">
  <div class="system-title">
    <div class="system-logo">
    </div>
    <div class="system-name">
      <h1>工业控制文件监控系统</h1>
    </div>
  </div>
  <!--<div class="impression">-->
  <!--</div>-->
  <div class="login-form">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="用户名">
      </div>
      <div class="form-group">
        <!--<input type="password" class="form-control" placeholder="密码" required="" oninvalid="setCustomValidity('必须填写！');" oninput="setCustomValidity('');">-->
        <input type="password" class="form-control" id="password" placeholder="密码">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" {{action "login"}}>登录</button>
    </form>
  </div>
  <div class="copyright">
    &copy; 2015 北京懋光信安技术有限公司 V0.0.1
  </div>
</div>
