body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}

a {
text-decoration:none
}

#warpper {
  width: 100%;
  overflow-x: hidden;
}

.navbar-default {
  background-color: transparent;
  border-color: #2f4050;
  height: 100%;
  background: #2f4050 !important;
}

.navbar-static-side {
  z-index: 2001;
  position: absolute;
  width: 220px;
  transition: all 0.5s;
}

a {
  cursor: pointer;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.nav > li.active > a {
  color: #ffffff;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background-color: #293846;
  color: white;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav > li.active {
  border-left: 4px solid #19aa8d;
  background: #293846;
}

.nav.nav-second-level > li.active {
  border: none;
}

.pace-done .navbar-static-side, .pace-done .nav-header, .pace-done li.active, .pace-done #page-wrapper, .pace-done .footer {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-second-level li a {
  padding: 7px 10px 7px 10px;
  padding-left: 52px;
}

.nav-second-level li, .nav-third-level li {
  border-bottom: none !important;
}

.child-menus-disabled {
  display: none;
}


.i-margin-left {
  float: right;
}


/*li {*/
  /*min-height: 45px;*/
/*}*/

li.active {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.collapse.in {
  display: block;
}

.collapse {
  display: none;
}

#page-wrapper {
  min-height: auto;
  margin-left: 220px;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
}

.gray-bg .white-bg{
  background-color: #f3f3f4;
}

/*logo area*/

.nav-header {
  padding: 33px 25px;
  background: url("images/header-profile.jpg") no-repeat;
  /*background-position-x: initial;*/
  /*background-position-y: initial;*/
  /*background-size: initial;*/
  /*background-repeat-x: no-repeat;*/
  /*background-repeat-y: no-repeat;*/
  /*background-attachment: initial;*/
  /*background-origin: initial;*/
  /*background-clip: initial;*/
  /*background-color: initial;*/
}

.dropdown, .dropup {
  position: relative;
}

a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: blink;
  cursor: auto;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.nav-header a {
  color: #DFE4ED;
}

img {
  vertical-align: middle;
}

.dropdown img {
  width: 48px;
}

.img-circle {
  border-radius: 50%;
}

.clear {
  display: block;
  overflow: hidden;
}

.m-t-xs {
  margin-top: 5px;
}

.font-bold {
  font-weight: 600;
}

.nav-header .text-muted {
  color: #8095a8;
}

.dropdown-menu {
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
}

.dropdown-menu .divider {
  height: 1px !important;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
}

.block {
  display: block;
}

/*top Navigation*/
.btn-primary {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF !important;
}

/*logo form style*/
.login-centent {
  position: absolute;
  top: 25%;
  width: 100%;
}

.system-title {
  margin:0px auto;
  width: 400px;
  text-align: center;
  color: #eeeeee;
  position: relative;
  top: 40px;
}

.impression {
  position: relative;
  background: #C5C5C1;
  height: 120px;
  top: 120px;
}

.login-form {
  width: 300px;
  height: 140px;
  margin: 0px auto;
  /*background: #1C2A38;*/
  /*border-radius: 40px;*/
  /*box-shadow: 0px 5px 0px;*/
  position: relative;
  top: 50px;
}

.copyright {
  margin:0px auto;
  width: 400px;
  text-align: center;
  color: #eeeeee;
  position: relative;
  top: 60px;
}

/*outlet area style*/
.grap-dg {
  min-height: 900px !important;
  height: 100%;
}

.centent-area {
  min-height: 900px;
}

.navbar-static-top {
  margin-bottom: 0;
}

.slimScrollDiv {
  position: relative; 
  overflow: hidden; 
  width: auto;
  height: 234px;
}

.content{
  overflow: hidden;
  width: auto;
  height: 234px;
}

.slimScrollBar {
  width: 7px;
  position: absolute;
  top: 0px; opacity: 0.4;
  display: block;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  z-index: 99; right: 1px;
  background: rgb(0, 0, 0);
}

.slimScrollRail {
  width: 7px; 
  height: 100%; 
  position: absolute;
  top: 0px;
  display:none; 
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  opacity: 0.4;
  z-index: 90;
  right: 1px;
  background: rgb(51, 51, 51);
}


/*form input style*/
.row-below-two-title {
  padding-right: 20px;
}

.row-below-two.custom-col-sm {
  padding-left: 10px;
  padding-right: 0px;
}

select.input-sm {
  height: 34px !important;
  line-height: 34px !important;
}

.row-one-input {
  padding-right: 30px;
}

/*.operation-botton-style*/
.information-operation {
  padding-right: 10px;
}
