<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-7">
    </div>
    <div class="col-lg-5">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><a {{action "getBack"}}>文件操作管理信息</a>->编辑文件操作管理信息</h5>
          <div class="ibox-tools" {{action "getBack"}}>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <!--<form method="get" class="form-horizontal">-->
          <form class="form-horizontal">
            <div class="form-group"><label class="col-sm-2 control-label">安全代理名称</label>
              <div class="col-sm-10 row-one-input"><input type="text" class="form-control" placeholder="必填！"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="col-sm-4 control-label row-below-two-title">安全代理IP</label>
                <div class="col-sm-8 custom-col-sm">
                  <input type="text" class="form-control" name="agent-ip">
                </div>
              </div>
              <div class="col-sm-6">
                <label class="col-sm-2 control-label">安全代理部门</label>
                <div class="col-sm-10 row-below-two">
                  <input type="text" class="form-control" name="agent-department ">
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="col-sm-4 control-label row-below-two-title">安全代理管理员</label>
                <div class="col-sm-8 custom-col-sm">
                  <input type="password" class="form-control" name="admin">
                  </div>
              </div>
              <div class="col-sm-6">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10 row-below-two">
                  <input type="password" class="form-control" name="description">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary">
                  <i class="fa fa-check"></i> 确认
                </button>
                <button class="btn btn-white" {{action "getBack"}}>
                  <i class="fa fa-times"></i> 取消
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
