<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-7">
    </div>
    <div class="col-lg-5">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><a {{action "getBack"}}>文件操作管理信息</a>->文件操作管理信息统计</h5>
          <div class="ibox-tools" {{action "getBack"}}>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div id="statistics-charts">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
