<div class="row">
  {{outlet}}
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>文件操作管理信息列表</h5>
        <div class="ibox-tools">
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>代理名称</th>
              <th>代理IP</th>
              <th>代理所属部门</th>
              <th>代理管理员</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>192.168.100.100</td>
              <td>部门一</td>
              <td>admin</td>
              <td>
                <span class="information-operation" >
                  {{#link-to "fs-events.new" title="编辑"}}
                    <i class="fa fa-pencil"></i>
                  {{/link-to}}
                </span>
                <span>
                  <a title="删除">
                    <i class="fa fa-times"></i>
                  </a>
                </span>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>192.168.100.100</td>
              <td>部门一</td>
              <td>admin</td>
              <td>
                <span class="information-operation" >
                  {{#link-to "fs-events.new" title="编辑"}}
                    <i class="fa fa-pencil"></i>
                  {{/link-to}}
                </span>
                <span>
                  <a title="删除">
                    <i class="fa fa-times"></i>
                  </a>
                </span>
                <span class="information-operation" >
                  {{#link-to "fs-events.fs-event"  title="编辑"}}
                    <i class="fa fa-pencil"></i>
                  {{/link-to}}
                </span>
                <span class="information-operation" >
                  {{#link-to "fs-events.fs-statistics"  title="统计"}}
                    <i class="fa fa-line-chart"></i>
                  {{/link-to}}
                </span>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>192.168.100.100</td>
              <td>部门一</td>
              <td>admin</td>
              <td>
                <span class="information-operation" >
                  {{#link-to "fs-events.new" title="编辑"}}
                    <i class="fa fa-pencil"></i>
                  {{/link-to}}
                </span>
                <span>
                  <a title="删除">
                    <i class="fa fa-times"></i>
                  </a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

