<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element"> <span>
              <img alt="image" class="img-circle" src="assets/images/logo.jpeg">
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
              <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a>Profile</a></li>
              <li><a>Contacts</a></li>
              <li><a>Mailbox</a></li>
              <li class="divider"></li>
              <li><a {{action "logout"}}>Logout</a></li>
            </ul>
          </div>
        </li>
        {{#each menus in menus}}
          <li>
            <a href={{menus.href}} class="menu_switch">
              <span class={{menus.icons}}>
                {{menus.text}}
              </span>
              <span {{bind-attr class="menus.childMenus:child-menus-enabled:child-menus-disabled"}}>
                <i class="fa fa-arrow-left i-margin-left"></i>
              </span>
            </a>
            <ul class="nav nav-second-level collapse">
              {{#each items in menus.items}}
                <li>
                  {{#link-to items.href}}
                    <span class={{items.icons}}>
                      {{items.text}}
                    </span>
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </nav>
  <div id="page-wrapper" class="gray-bg" style="min-height: 969px">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        <form role="search" class="navbar-form-custom" action="search_results.html">
          <div class="form-group">
            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
          </div>
        </form>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li>
        <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
          <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
        </a>
        <ul class="dropdown-menu dropdown-messages">
          <li>
          <div class="dropdown-messages-box">
            <a href="#" class="pull-left">
              <img alt="image" class="img-circle" src="assets/images/a7.jpg">
            </a>
            <div class="media-body">
              <small class="pull-right">46h ago</small>
              <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
              <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
            </div>
          </div>
          </li>
          <li class="divider"></li>
          <li>
          <div class="dropdown-messages-box">
            <a href="#" class="pull-left">
              <img alt="image" class="img-circle" src="assets/images/a4.jpg">
            </a>
            <div class="media-body ">
              <small class="pull-right text-navy">5h ago</small>
              <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
              <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
            </div>
          </div>
          </li>
          <li class="divider"></li>
          <li>
          <div class="dropdown-messages-box">
            <a href="#" class="pull-left">
              <img alt="image" class="img-circle" src="assets/images/p2.jpg">
            </a>
            <div class="media-body ">
              <small class="pull-right">23h ago</small>
              <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
              <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
            </div>
          </div>
          </li>
          <li class="divider"></li>
          <li>
          <div class="text-center link-block">
            <a href="#">
              <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
            </a>
          </div>
          </li>
        </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
          <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
          <li>
          <a href="#">
            <div>
              <i class="fa fa-envelope fa-fw"></i> You have 16 messages
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
          </li>
          <li class="divider"></li>
          <li>
          <a href="#">
            <div>
              <i class="fa fa-twitter fa-fw"></i> 3 New Followers
              <span class="pull-right text-muted small">12 minutes ago</span>
            </div>
          </a>
          </li>
          <li class="divider"></li>
          <li>
          <a href="#">
            <div>
              <i class="fa fa-upload fa-fw"></i> Server Rebooted
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
          </li>
          <li class="divider"></li>
          <li>
          <div class="text-center link-block">
            <a href="#">
              <strong>See All Alerts</strong>
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          </li>
        </ul>
        </li>


        <li>
        <a {{action "logout"}}>
          <i class="fa fa-sign-out"></i> Log out
        </a>
        </li>
        <li>
        <a class="right-sidebar-toggle">
          <i class="fa fa-tasks"></i>
        </a>
        </li>
      </ul>
      </nav>
    </div>
    <div class="row border-bottom white-bg dashboard-header centent-area">
      {{outlet}}
    </div>
  </div>
  <div class="small-chat-box fadeInRight animated">

    <div class="heading" draggable="true">
      <small class="chat-date pull-right">
        02.19.2015
      </small>
      Small chat
    </div>

    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 234px;"><div class="content" style="overflow: hidden; width: auto; height: 234px;">

        <div class="left">
          <div class="author-name">
            Monica Jackson <small class="chat-date">
              10:02 am
            </small>
          </div>
          <div class="chat-message active">
            Lorem Ipsum is simply dummy text input.
          </div>

        </div>
        <div class="right">
          <div class="author-name">
            Mick Smith
            <small class="chat-date">
              11:24 am
            </small>
          </div>
          <div class="chat-message">
            Lorem Ipsum is simpl.
          </div>
        </div>
        <div class="left">
          <div class="author-name">
            Alice Novak
            <small class="chat-date">
              08:45 pm
            </small>
          </div>
          <div class="chat-message active">
            Check this stock char.
          </div>
        </div>
        <div class="right">
          <div class="author-name">
            Anna Lamson
            <small class="chat-date">
              11:24 am
            </small>
          </div>
          <div class="chat-message">
            The standard chunk of Lorem Ipsum
          </div>
        </div>
        <div class="left">
          <div class="author-name">
            Mick Lane
            <small class="chat-date">
              08:45 pm
            </small>
          </div>
          <div class="chat-message active">
            I belive that. Lorem Ipsum is simply dummy text.
          </div>
        </div>

    </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.4; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
    <div class="form-chat">
      <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button class="btn btn-primary" type="button">Send
      </button> </span></div>
    </div>

  </div>
  <div id="small-chat">

    <span class="badge badge-warning pull-right">5</span>
    <a class="open-small-chat">
      <i class="fa fa-comments"></i>

    </a>
  </div>
</div>
