<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-7">
    </div>
    <div class="col-lg-5">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><a {{action "getBack"}}>用户管理</a>->修改密码</h5>
          <div class="ibox-tools" {{action "getBack"}}>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <!--<form method="get" class="form-horizontal">-->
          <form class="form-horizontal">
            <div class="form-group"><label class="col-sm-2 control-label">旧密码</label>
              <div class="col-sm-10"><input type="password" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">新密码</label>

              <div class="col-sm-10"><input type="password" class="form-control" name="password"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">确认新密码</label>

              <div class="col-sm-10"><input type="password" class="form-control" name="password"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary">
                  <i class="fa fa-check"></i> 确认
                </button>
                <button class="btn btn-white">
                  <i class="fa fa-times"></i> 取消
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
