<div class="row">
  {{outlet}}
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>用户信息列表</h5>
        <div class="ibox-tools">
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              {{#each tableContent in tableContent}}
                {{#each thead in tableContent.thead}}
                  <th>{{thead.text}}</th>
                {{/each}}
              {{/each}}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>普通用户</td>
              <td>
                <i class="fa fa-lock"></i>
              </td>
              <td>
                <span class="information-operation" >
                  {{#link-to "users.new" title="编辑"}}
                    <i class="fa fa-pencil"></i>
                  {{/link-to}}
                </span>
                <span>
                  <a title="删除">
                    <i class="fa fa-times"></i>
                  </a>
                </span>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>普通用户</td>
              <td>
                <i class="fa fa-unlock-alt"></i>
              </td>
              <td>
                <span class="information-operation" >
                  {{#link-to "users.new" title="编辑"}}
                    <i class="fa fa-pencil"></i>
                  {{/link-to}}
                </span>
                <span>
                  <a title="删除">
                    <i class="fa fa-times"></i>
                  </a>
                </span>
                <span class="information-operation" >
                  {{#link-to "users.user"  title="编辑"}}
                    <i class="fa fa-pencil"></i>
                  {{/link-to}}
                </span>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>普通用户</td>
              <td>
                <i class="fa fa-unlock-alt"></i>
              </td>
              <td>
                <span class="information-operation" >
                  {{#link-to "users.new" title="编辑"}}
                    <i class="fa fa-pencil"></i>
                  {{/link-to}}
                </span>
                <span>
                  <a title="删除">
                    <i class="fa fa-times"></i>
                  </a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
